name: git_mobile_assistant
description: "Git Mobile Pro dengan Izin Storage dan Editor"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  process_run: ^0.12.3+1
  google_fonts: ^5.1.0
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.2.2
  path_provider: ^2.1.2
  code_text_field: ^1.1.0  # Perbaikan: Versi yang lebih kompatibel
  permission_handler: ^11.3.1
  highlight: ^0.7.0
  flutter_highlight: ^0.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true